<p>
    Dear @AuthorizedUserName ; SW Staff,
</p>
<p>
    This notification serves as confirmation that user account listed below from @FranchiseName, was successfully deleted from the City of Miami  Department of Solid Waste Monthly Summary Report (MSR), Application.
</p>
<p>
    User Name: @email
</p>
<div>
    Best Regards,
</div>
<div>
    <br />
</div>
<div>
    Department of Solid Waste
</div>
<div>
    swd3@miamigov.com
</div>
<div>
    City of Miami, Solid Waste Department
</div>
<div>
    1290 NW 20th Street
</div>
<div>
    Miami, FL, 33142
</div>
<div>
    Telephone number: (305) 960-2801
</div>
<div>
    Commercial Solid Waste Franchise Agreement Liaison number is 305.960.2802
</div>
<div>
    Facsimile number: (305) 960-2815
</div>
<div>
    Office Hours: 8:00 AM - 5:00 PM (Monday - Friday)
</div>
<div>
    <br />
</div>