<!--<p>-->
    Dear @FranchiseName
</p>
<p>
    To finalize your Monthly Summary Report submission please print off the attached Monthly Summary Report and have it notarized by a licensed notary.
</p>
<p>
    <br />
    Following the notarization of the Monthly Summary Report, please deliver the original notarized document with the required detailed report and payment to
    the below referenced address:
</p>
<p>
    City of Miami Finance Department /Collections
    <br />
    444 SW 2nd Avenue 6th Floor
    <br />
    Miami, FL 33130
</p>
<p>
    Please note that our office is able to accept the detailed report as specified in your contract agreement in any of the following format: flash drive, PDF
    file, Compact disk, or a hard copy of the printed detail report to the City of Miami Solid Waste Department.
</p>
<p>
    Thank you for your attention in this matter.
</p>
<div>
    Best Regards,
</div>
<div>
    <br />
</div>
<div>
    Department of Solid Waste
</div>
<div>
    swd3@miamigov.com
</div>
<div>
    City of Miami, Solid Waste Department
</div>
<div>
    1290 NW 20th Street
</div>
<div>
    Miami, FL, 33142
</div>
<div>
    Telephone number: (305) 960-2801
</div>
<div>
    Commercial Solid Waste Franchise Agreement Liaison number is 305.960.2802
</div>
<div>
    Facsimile number: (305) 960-2815
</div>
<div>
    Office Hours: 8:00 AM - 5:00 PM (Monday - Friday)
</div>
<div>
    <br />
</div>