<div style="font-size:10pt">
    <div style="clear:both">
        <div style="display:inline-block; clear:both; width:100%">
            <div style="width:15%; display:inline-block"><img style="height:80px;margin-left:20px;" src="/Content/assets/images/logoPDF.jpg" /></div>
            <div style="width:60%; display:inline-block; vertical-align:top">
                <p>
                    <span style="text-transform:uppercase; font-weight:700">
                        COMMERCIAL   SOLID   WASTE   FRANCHISEE   MONTHLY   REPORT FOR:
                        EXISITNG ACCOUNTS;   NEW ACCOUNTS;   GROSS RECEIPTS AND OTHER ITEMS
                        AND AMOUNTS   DUE   TO   CITY
                    </span>
                </p>
            </div>
        </div>

        <div style="display:inline-block;width:100%;clear: both;margin: 30px 0px 0px 0px;">
            <div style="width:15%; display:inline-block;vertical-align:top">
                Delivered to:
            </div>
            <div style="width:60%; display:inline-block ;vertical-align:top">

                City of Miami Finance Department /Collections <br />
                444 SW 2nd Avenue 6th Floor<br />
                Miami, FL 33130 <br />


            </div>
        </div>
    </div>
    <p>
        <b>
            In addition to completing your monthly summary Report you are responsible for providing a detail report with the
            information as documented in your contract agreement, in the format of a flash drive, PDF file, Compact disk, or
            a hard copy of the printed detail report, to the City of Miami Solid Waste Department.
        </b>
    </p>
    <p>
        In accordance with the provisions of Ordinance 13194 adopted <b> @Date </b> by the Miami City Commission,
        (the "Ordinance") amending Chapter 22 of the code of the City of Miami as amended (the "Code"),
        <b>@HaulerName</b>, a Florida  located at <b>@HaulerAddress</b> is a commercial
        solid waste franchisee ("franchisee") which is required to file with the City of Miami ("City") a monthly report updating
        its information for existing accounts within the city, new accounts within the city, and gross receipts from all accounts
        within the city for the previous month("Monthly report") and to remit to the city required payments for new account fees,
        monthly franchise fees, and any other amounts due to the city as set forth below (collectively, "payments"). In accordance
        with Article V of each Franchisee's Non-Exclusive Commercial Solid Waste Franchise Agreement ("Franchise Agreement") and the
        Ordinance , Franchisee hereby provides this Monthly Report and all required payments for the previous month ended as the @Days
        day of @Pmonth @Year as follow:
    </p>
    <ol>
        <li>
            <b>New Accounts</b> for the month of @ReportMonth are<b> @NewAccts </b> x $75.00 = <b>$@NewAmnt </b>in new Permit Per Account Fees for this monthly period remitted to the city.
        </li>
        <li>
            <b>Exixting Accounts</b> continuing as of @ReportMonth total <b> @ExwAccts </b> accounts within the City and a copy of the most recent account list showing name, address,
            and gross receipt is attached hereto and incorporated hereby as Exhibit 1.
        </li>
        <li>
            <b>Monthly Gross Receipts Fees </b> excluding sales taxes collected from customers for commercial solid waste services rendered in the City during the previous
            month of @ReportMonth  total <b>$ @GrossReceiptFees</b> .
</li>
        <li>
            <b>Monthly total  Gross Franchise Fees</b> The amount herewith remitted to the City as a monthly total gross receipt franchisee fee representing twenty-four percent (24%)
            of total monthly Gross Receipts #3 above totals <b>$ @24Percent</b>
        </li>
        <li>
            <b>Annual Franchise Fees</b> Franchisee hereby remits its annual franchise fee in the amount of <b>$ @AnnualFranchiseFee</b>
        </li>
        <li>
            <b>Total Remitance:</b> The new Permit Per Account Fee of  <b>$ @NewAmnt</b> from item 1 above plus the Monthly Total Gross Receipts Franchisee Fees
            of<b> $ @24Percent </b> from item 4 above plus the late Annual Franchisee Fee and late penalty amount of <b> $ @AnnualFranchiseFee</b> above total
            <b>$ @TotalAmnt</b> hereby paid to the City of Miami.
        </li>
    </ol>


    <p>
        <span style="text-transform:uppercase">I HEREBY CERTIFY </span> that Franchisee has provided to the City all required Performance
        Bonds evidence(s) of insurance coverage, and all amounts due to the city as of the date, that hereof, that Franchisee has complied
        with all requirements of the Franchisee Agreement , and that I have all necessary legal authority pursuant to the corporate Resolution
        (attached  hereto and incorporated hereby as Exhibit 2) to execute and file this Monthly Return with the City on behalf of the Franchisee,
        and I have examined and am familliar with its contents and the records from which they were secured, and that this return is true, correct
        and complete to the best of my knowledge and belief:
    </p>
    <p>
        <b>Signature:</b> _______________________________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Date:</b>_________________________________<br />
        <br />
        <b>Print Name:</b>_______________________________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Title:</b>_________________________________<br />
    </p>
    <p>
        <span style="text-transform:uppercase; font-weight:700">STATE OF FLORIDA</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>}</b>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>} SS:</b><br />
        <br />
        <span style="text-transform:uppercase; font-weight:700">County of Miami-Dade</span><br />
        The Foregoing Monthly Report was acknowledge before me this ____day of ______________, 20___, by
        _________________ As the _____________of_____________________, a Florida for-Profit corporation
        ("Franchisee") on behalf of said Franchisee, He /She (___) is personally known to me or (____) has produced the State of
        Florida Driver's license# ___________as identification and did not take an oath.

    </p>
    <div style="display:inline-block; clear:both; width:100%">
        <div style="width:40%; display:inline-block; vertical-align:top">
            <b>Notary Seal</b>
        </div>
        <div style="width:40%; display:inline-block">
            Sign Name: __________________________________ <br /><br />
            Print Name:____________________________________
            <br /> <br />
            <span style="text-transform:uppercase">
                Notary Public <br />
                State Of Florida
            </span>
        </div>
    </div>
</div>

